@import "../style/modern-normalize.css";

.about-image {
  max-width: 300px;
  max-height: auto;
}

.wrapper {
  display: grid;
  grid-template-rows: 1vw 1vw 1vw;
}

.about-me {
  grid-row: 1 / 1;
}

.my-work {
  grid-row: 1 / 2;
}

.contact-me {
  grid-row: 1 / 3;
}
